Repository gpnlab/ml_template, pull requests merged in 2020-07, with the labels that each got.

#1 Add pre-commit hook
  .flake
  .github/workflows/label.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tf_environment.yml
  torch_environment.yml
Labels: enhancement

#2 Edit Makefile and README.md
  Makefile
  README.md
Labels: documentation

#4 Added Labels to labeler
  .github/labeler.yml
  tests/.gitkeep
Labels: bug fix
